{% extends 'base.html.twig' %}

{% block body %}
{% include "header.html.twig" %}

    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>This is the </span> Second page {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
            </div>


            <div id="next">
                <h2>What's next?</h2>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}
