{% extends 'base.html.twig'%}
{% block body %}
{% include 'header.html.twig'%}
	<div class="jumbotron">
	  <h1>Hello, Symfony!</h1>
	  <p>Experimenting with Symfony 3.3.5 </p>
	  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	</div>
{% endblock %}
